body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

.wrapper{
    max-width: 360px;
    margin: 0 auto;
    border:solid 1px black;
}


h1{
    font-size: 75px;
    text-align: center;
}
