footer{
    padding-top: 30px;
    border-top: dashed 1px #000;
    text-align: center;

    ul{
        padding-bottom: 20px;
        list-style: none;
        li{
            display: inline-block;
        }
    }
}