.menu{
    padding-top: 50px;
    text-align: center;

    h2{
        padding-bottom: 40px;
        font-size: 60px;
    }

    button {
        display: block;
        width: 100%;
        max-width: 280px;
        height: 40px;
        margin: 5px auto;
        line-height: 40px;
    }
}