.quiz_ui{
    display: none;
    padding: 20px 10px 20px;
    text-align: center;

    .counter{
        padding-bottom: 16px;
        font-size: 16px;
    }

    .question_text{
        font-size: 28px;
        padding-bottom: 10px;
        font-weight: 400;
    }

    button.answer{
        display: block;
        width: 100%;
        min-height: 50px;
        border: 0;
        margin: 5px 0;
        padding: 16px 0;
        background-color: #74dbff;
        border-radius: 16px;
        font-size: 16px;
        font-weight: 700;

        &.correct{
            background-color: #5ccd56;
        }

        &.wrong{
            color: #fff;
            background-color: #a72520;
            text-decoration: line-through;
        }

        &.show_correct{
            color: #fff;
            background-color: #0f5e19;
        }

        &:hover{
            //border: solid 2px #00a6ff;
        }

    }

    button.next{
        display: block;
        width: 100%;
        min-height: 50px;
        border: 0;
        margin: 5px 0;
        padding: 16px 0;
        background-color: #ffbef8;
        font-size: 16px;
        border-radius: 16px;
    }

    .feedback {
        padding: 20px 0;
        display: none;

        .icon{

        }

        .text{

        }


    }
}

