.quiz_ui{
    display: none;
    padding-top: 50px;
    text-align: center;

    .counter{

    }

    .question_text{

    }

    button.answer{

    }

    .feedback {
        display: none;
        .icon{

        }

        .text{

        }
    }
}

