.stats_wrapper{
    display: none;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    text-align: center;

    .stat{
        padding-bottom: 25px;
    }

    h2{
        padding-bottom: 20px;
        font-size: 30px;
        font-weight: 800;
    }

    h3{
        padding-bottom: 10px;
        font-size: 24px;
        font-weight: 700;
    }
}